imports:
  - { resource: services/commands.yml }
  - { resource: services/helpers.yml }
  - { resource: services/listeners.yml }
  - { resource: services/repositories.yml }

services:
  # Queue Bundle Options.
  printed.bundle.queue.service.queue_bundle_options:
    class: 'Printed\Bundle\Queue\ValueObject\QueueBundleOptions'
    arguments:
      - # (argument populated dynamically in QueueExtension.php)
    public: false

  Printed\Bundle\Queue\ValueObject\QueueBundleOptions: '@printed.bundle.queue.service.queue_bundle_options'

  # Service Container Parameters.
  printed.bundle.queue.service.service_container_parameters:
    class: 'Printed\Bundle\Queue\Service\ServiceContainerParameters'
    arguments:
      - '@service_container'
    public: false

  Printed\Bundle\Queue\Service\ServiceContainerParameters: '@printed.bundle.queue.service.service_container_parameters'

  # Queue Task Dispatcher.
  printed.bundle.queue.service.queue_task_dispatcher:
    class: 'Printed\Bundle\Queue\Service\QueueTaskDispatcher'
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@monolog.logger.queue'
      - '@validator'
      - # (argument populated dynamically in QueueExtension.php)
      - '@printed.bundle.queue.service.uuid'
    public: false

  Printed\Bundle\Queue\Service\QueueTaskDispatcher: '@printed.bundle.queue.service.queue_task_dispatcher'

  # Queue Maintenance Manager.
  printed.bundle.queue.service.queue_maintenance:
    class: 'Printed\Bundle\Queue\Service\QueueMaintenance'
    arguments:
      - # (argument populated dynamically in QueueExtension.php)
    public: false

  Printed\Bundle\Queue\Service\QueueMaintenance: '@printed.bundle.queue.service.queue_maintenance'

  printed.bundle.queue.service.queue_maintenance.filesystem_queue_maintenance_strategy:
    class: 'Printed\Bundle\Queue\Service\QueueMaintenance\FilesystemQueueMaintenanceStrategy'
    arguments:
      - '%kernel.cache_dir%'
    public: false

  Printed\Bundle\Queue\Service\QueueMaintenance\FilesystemQueueMaintenanceStrategy: '@printed.bundle.queue.service.queue_maintenance.filesystem_queue_maintenance_strategy'

  printed.bundle.queue.service.queue_maintenance.cache_queue_maintenance_strategy:
    class: 'Printed\Bundle\Queue\Service\QueueMaintenance\CacheQueueMaintenanceStrategy'
    arguments:
      - # (argument populated dynamically in QueueExtension.php)
      - "@logger"
    public: false

  Printed\Bundle\Queue\Service\QueueMaintenance\CacheQueueMaintenanceStrategy: '@printed.bundle.queue.service.queue_maintenance.cache_queue_maintenance_strategy'

  # New deployments detector.
  printed.bundle.queue.service.new_deployments_detector:
    class: 'Printed\Bundle\Queue\Service\NewDeploymentsDetector'
    arguments:
      - # (argument populated dynamically in QueueExtension.php)
    public: false

  Printed\Bundle\Queue\Service\NewDeploymentsDetector: '@printed.bundle.queue.service.new_deployments_detector'

  printed.bundle.queue.service.new_deployments_detector.noop_strategy:
    class: 'Printed\Bundle\Queue\Service\NewDeploymentsDetector\NoopNewDeploymentsDetectorStrategy'
    public: false

  Printed\Bundle\Queue\Service\NewDeploymentsDetector\NoopNewDeploymentsDetectorStrategy: '@printed.bundle.queue.service.new_deployments_detector.noop_strategy'

  printed.bundle.queue.service.new_deployments_detector.cache_strategy:
    class: 'Printed\Bundle\Queue\Service\NewDeploymentsDetector\CacheNewDeploymentsDetectorStrategy'
    arguments:
      - # (argument populated dynamically in QueueExtension.php)
      - "@logger"
    public: false

  Printed\Bundle\Queue\Service\NewDeploymentsDetector\CacheNewDeploymentsDetectorStrategy: '@printed.bundle.queue.service.new_deployments_detector.cache_strategy'

  # Vhost existence ensurer.
  printed.bundle.queue.service.rabbit_mq_vhost_existence_ensurer:
    class: 'Printed\Bundle\Queue\Service\RabbitMqVhostExistenceEnsurer'
    arguments:
      - '@logger'
      - '@printed.bundle.queue.service.queue_bundle_options'
    public: false

  Printed\Bundle\Queue\Service\RabbitMqVhostExistenceEnsurer: '@printed.bundle.queue.service.rabbit_mq_vhost_existence_ensurer'

  # UUID service.
  printed.bundle.queue.service.uuid:
    class: 'Ramsey\Uuid\UuidFactory'
    public: false

  printed.bundle.queue.service.client.application_entity_manager:
  # (defined/removed in QueueExtension.php)
    public: false
